<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--自定义css样式-->
    <link rel="stylesheet" href="/css/community.css">
    <!--Jquery文件-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <!--moment.js 格式化时间-->
    <script src="/js/momeny.js" type="application/javascript"></script>

</head>

<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">

        <!--左侧内容 开始-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题部分 开始-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--问题标题-->
                <h4><span th:text="${question.title}"></span></h4>
                <!--问题其他信息-->
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数： <span th:text="${question.viewCount}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                <!--问题具体内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                <!--问题编辑按钮-->
                <div th:if="${session.user != null && session.user.id == question.creator}"
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        编辑
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
            <!--问题部分 结束-->

            <!--已有评论列表展示 开始-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <!-- 一根分隔线-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp"/>

                <!--单条评论展示-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}"
                                     alt="头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading" th:text="${comment.user.name}"></h5>
                            <span th:text="${comment.content}"></span>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="glyphicon glyphicon-comment icon" data-toggle="collapse"
                                      th:attr="data-target='#'+${comment.id}"
                                      onclick="show_subComments(this)">
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right"
                                      th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <!--下行 id 对应着 data-target 属性-->
                            <div th:id="${comment.id}"
                                 class="collapse  sub-comment col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <!--待填充的二级评论内容 开始-->
                                <!--<div th:each="comment : ${comments}">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object img-rounded"
                                                     th:src="${comment.user.avatarUrl}"
                                                     alt="头像">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading sub-h5" th:text="${comment.user.name}"></h5>
                                            • <span
                                                th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd hh:mm')}"></span>
                                            <a class="pull-right">回复</a>

                                            <div class="sub-comment-content">
                                                <span th:text="${comment.content}"></span>
                                            </div>
                                        </div>
                                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>-->
                                <!--待填充的二级评论内容 结束-->

                                <!--二级评论回复框-->
                                <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-comment">
                                    <input type="text" class="form-control" placeholder="评论一下..."
                                           aria-describedby="basic-addon1" th:id="'subComment-'+${comment.id}">
                                    <button type="button" class="btn btn-success pull-right"
                                            onclick="postComment(this,2)">
                                        评论
                                    </button>
                                </div>
                            </div>

                        </div><!-- media-body 结束-->

                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                    </div>
                </div>
            </div>
            <!--已有评论列表展示  结束-->

            <!--评论框新添评论部分 开始-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_id">
                <h4>
                    <span>评论</span>
                </h4>
                <!--用户头像与名称组件-->
                <div class="media" th:if="${session.user!=null}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${session.user.avatarUrl}"
                                 alt="头像">
                        </a>
                    </div>
                    <div class="media-body user-name">
                        <h5 class="media-heading" th:text="${session.user.name}"></h5>
                    </div>
                </div>
                <!--评论框-->
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <!--回复按钮-->
                <input type="hidden" id="question_id" th:value="${question.id}">
                <button type="button" class="btn btn-success btn-comment" onclick="postComment(this,1)">回复</button>

            </div>
            <!--评论框新添评论部分 开始-->

        </div>
        <!--左侧内容 结束-->

        <!--右侧内容 开始-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}"
                                 alt="头像">
                        </a>
                    </div>
                    <div class="media-body user-name">
                        <h5 class="media-heading" th:text="${question.user.name}"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                <h4>相关问题</h4>
            </div>

        </div>
        <!--右侧内容 结束-->

    </div>
</div>
</body>
</html>